
body {
    padding-top: 40px;
    padding-bottom: 40px;
}

.app-container{
    padding:0;
}

.sidebar-nav {
    padding: 9px 0;
    background:#eee;
}
.item{
    background:#fff;
    .title{
        height:50px;
        background:#eee;}
    .meta{
        height:50px;
        background:#fff;}
    .item-body{
        background:#ccc;}
    .assets{
        .asset{
            float:left;
            width:75px;
            height:75px;
            background:#eee;
            margin:0 5px 0 0;
        }
    }
    .viewing{
        height:50px;}
    .discussion{
        background:#ccc;}
}

/* //////////////////////////////////////////////////////////////////////////
// Imports
//////////////////////////////////////////////////////////////////////////*/

@import "partials/helper";
