!!!
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
body
    !=partial('../partials/logged_in_header.jade')
    .app-container.container-fluid
        .row-fluid
            != body
    script(src='/js/libs/underscore-min.js')
    script(src='/js/libs/backbone-min.js')
    script(src='/js/libs/jquery-1.7.2.min.js')
