.navbar.navbar-fixed-top
    .navbar-inner
        .container-fluid
            a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.brand(href='#') Project Name
            .nav-collapse
                ul.nav
                    li(class='active')
                        a(href='#') Home
                    li
                        a(href='#about') About
                    li
                        a(href='#contact') Contact
                p.navbar-text.pull-right Logged in as 
                    a(href='#') User



h1= title
p Welcome to #{title}
