.span3
    .sidebar-nav
        ul.nav.nav-list
            li.nav-header Sidebar
            li.active
                a(href='#') Links
            li
                a(href='#') Link
            li
                a(href='#') Link
            li.nav-header Sidebar
            li
                a(href='#') Link
            li
                a(href='#') Link
            li
                a(href='#') Link
.item.span9
    .title.row-fluid
        h2 Bug Title
    .meta.row-fluid
        p this is where the meta would go
    .item-body.row-fluid
        p.readable The goal of the 1000 Genomes Project is to find most genetic variants that have frequencies of at least 1% in the populations studied. This goal can be attained by sequencing many individuals lightly. To sequence a person's genome, many copies of the DNA are broken into short pieces and each piece is sequenced. The many copies of DNA mean that the DNA pieces are more-or-less randomly distributed across the genome. The pieces are then aligned to the reference sequence and joined together. To find the complete genomic sequence of one person with current sequencing platforms requires sequencing that person's DNA the equivalent of about 28 times (called 28X). If the amount of sequence done is only an average of once across the genome (1X), then much of the sequence will be missed, because some genomic locations will be covered by several pieces while others will have none. The deeper the sequencing coverage, the more of the genome will be covered at least once. Also, people are diploid; the deeper the sequencing coverage, the more likely that both chromosomes at a location will be included. In addition, deeper coverage is particularly useful for detecting structural variants, and allows sequencing errors to be corrected.
        p.readable The goal of the 1000 Genomes Project is to find most genetic variants that have frequencies of at least 1% in the populations studied. This goal can be attained by sequencing many individuals lightly. To sequence a person's genome, many copies of the DNA are broken into short pieces and each piece is sequenced. The many copies of DNA mean that the DNA pieces are more-or-less randomly distributed across the genome. The pieces are then aligned to the reference sequence and joined together. To find the complete genomic sequence of one person with current sequencing platforms requires sequencing that person's DNA the equivalent of about 28 times (called 28X). If the amount of sequence done is only an average of once across the genome (1X), then much of the sequence will be missed, because some genomic locations will be covered by several pieces while others will have none. The deeper the sequencing coverage, the more of the genome will be covered at least once. Also, people are diploid; the deeper the sequencing coverage, the more likely that both chromosomes at a location will be included. In addition, deeper coverage is particularly useful for detecting structural variants, and allows sequencing errors to be corrected.
    .assets.row-fluid
        .asset 
            p asset 1
        .asset 
            p asset 1
        .asset 
            p asset 1
        .asset 
            p asset 1
        .asset 
            p asset 1
        .asset 
            p asset 1
        .asset 
            p asset 1
    .viewing.row-fluid
        p this is where the list of viewers would go
    .discussion.row-fluid
        p this is where the discussion would happen
hr
footer
    p &copy; Company 2012

