.center-fluid-span.span3
    form#signup-form
        label Email
        input.span3(placeholder='', type='text', name='email')
        label Password
        input.span3(placeholder='Password' type='password', name='password')
        label Confirm Password
        input.span3(placeholder='Confirm Password', type='password', name='password2')
